<section class="advertisement">
  <h2 class="advertisement-title visually-hidden">Advertisement</h2>
  <div class="advertisement-run-line">
    <div class="advertisement-run">
      <p class="advertisement-run-text">
        Master <span class="advertisement-span">your photography</span> skills
        with us!
      </p>
    </div>
    <div class="advertisement-run">
      <p class="advertisement-run-text">
        Master <span class="advertisement-span">your photography</span> skills
        with us!
      </p>
    </div>
  </div>
</section>
