<section class="advertisement">
  <div class="container advertisement-container">
    <h2 class="advertisement-title visually-hidden">Advertisement</h2>
    <div class="advertisement-run-line">
      <div class="advertisement-run">
        <p class="advertisement-run-text">
          Master <span>your photography</span> skills with us!
        </p>
        <p class="advertisement-run-text">
          Master <span>your photography</span> skills with us!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="advertisement">
  <div class="container advertisement-container">
    <div class="advertisement-run-line">
      <div class="advertisement-run">
        <h2 class="advertisement-run-text">
          Master <span>your photography</span> skills with us!
        </h2>
        <h3 class="advertisement-run-text">
          Master <span>your photography</span> skills with us!
        </h3>
      </div>
    </div>
  </div>
</section> -->
