<footer class="footer">
    <div class="container footer-container">
        <div class="footer-contact-logo">
<div class="logo-footer">
<svg class="footer-logo-icon" width="127px" height="20px">
    <use href="/img/symbol-defs.svg#icon-header-footer-logo-mob">
    </use>
</svg>
</div>
<address class="contact-footer">
<ul class="contact-list">
    <li> <a class="contact-item" href="tel:+380665438912" id="contacts">UK: +38 066 543 8912</a>
    </li>
    <li> <a class="contact-item" href="">Ukraine, Kyiv</a></li>
</ul>
</address>
        </div>
<div class="footer-block">
<ul class="footer-soc-list">
    <li>
        <a class="soc-item-link" href="https://www.instagram.com/goitclub/">Instagram</a>
    </li>
    <li>
        <a class="soc-item-link" href="https://www.facebook.com/goITclub/">Facebook</a>
    </li>
    <li>
        <a class="soc-item-link" href="https://www.youtube.com/c/GoIT">Youtube</a>
    </li>
</ul>
<ul class="footer-menu-list">
    <li><a class="menu-link" href="#about">About us</a>
</li>
<li><a class="menu-link" href="#courses">Our courses</a>
</li>
<li><a class="menu-link" href="#mentors-section">Our mentors</a>
</li>
<li><a class="menu-link" href="#review-section">Reviews</a>
</li>
<li><a class="menu-link" href="#contacts">Contacts</a>
</li>
</ul>
</div>
<div class="footer-send">
<form class="footer-form">
        <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" name="user-email" class="footer-input" placeholder="Enter your email"/>
    <button type="submit" class="footer-btn">Go</button>
</form>

</div>
<div class="footer-bottom">
<ul class="footer-list">
    <li class="footer-item">
    <p class="bottom-text">Privacy Policy </p></li>
<li class="footer-item"><p class="bottom-text no-wrap">Public Offering Agreement</p></li>
    </ul>
    <ul class="bottom-list">
<li class="bottom-item">
    <p class="bottom-text">2023 Focus Frame</p></li>
        <li class="bottom-item"><p class="bottom-text no-wrap">© All rights reserved</p></li>
</ul>
</div>
    </div>
</footer>