<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <div class="header-menu-container">
        <a href="./index.html" class="header-menu-logo">Focus.Frame</a>
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="./about-us.html" class="header-menu-link">About us</a>
          </li>
          <li class="header-menu-item">
            <a href="./our-courses.html" class="header-menu-link"
              >Our courses</a
            >
          </li>
          <li class="header-menu-item">
            <a href="./our-mentors.html" class="header-menu-link"
              >Our mentors</a
            >
          </li>
          <li class="header-menu-item">
            <a href="./reviews.html" class="header-menu-link">Reviews</a>
          </li>
          <li class="header-menu-item">
            <a href="/" class="header-menu-link">Contacts</a>
          </li>
        </ul>
      </div>
      <button type="button" class="header-btn">Sign up</button>
    </nav>
  </div>
</header>
