<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <div class="header-menu-container">
        <div class="header-menu-container-item">
          <a href="./index.html" class="header-menu-logo"
            ><svg width="120" height="20" class="header-logo-icon">
              <use href="./img/header/header-icon.svg#icon-logo"></use></svg
          ></a>
          <a href="#signup" class="header-mob-camera">
            <svg width="16" height="16" class="header-camera-icon">
              <use href="./img/header/header-icon.svg#icon-bi-camera"></use>
            </svg>
          </a>
          <button type="button" class="header-mob-menu-btn js-open-menu">
            <svg width="32" height="22" class="header-menu-icon">
              <use
                href="./img/header/header-icon.svg#icon-header-menu-mob"
              ></use>
            </svg>
          </button>
        </div>
        <div class="container-modal-menu js-menu-container" id="mobile-menu">
          <div class="header-modal-menu">
            <button class="header-modal-btn js-close-menu">
              <svg width="32" height="32" class="header-modal-btn-icon">
                <use
                  href="./img/header/header-icon.svg#icon-header-modal-menu"
                ></use>
              </svg>
            </button>
            <ul class="header-modal-list">
              <li class="header-modal-item">
                <a
                  href="#about"
                  class="header-modal-link header-modal-link-one-child"
                  >About us</a
                >
              </li>
              <li class="header-modal-item">
                <a href="#courses" class="header-modal-link">Our courses</a>
              </li>
              <li class="header-modal-item">
                <a href="#mentors-section" class="header-modal-link"
                  >Our mentors</a
                >
              </li>
              <li class="header-modal-item">
                <a href="#review-section" class="header-modal-link">Reviews</a>
              </li>
              <li class="header-modal-item">
                <a href="#contacts" class="header-modal-link">Contacts</a>
              </li>
            </ul>
            <picture class="container-img-header">
              <source
                srcset="
                  ./img/header/camera-tab-x1.png 1x,
                  ./img/header/camera-tab-x2.png 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./img/header/camera-mob-x1.png 1x,
                  ./img/header/camera-mob-x2.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/header/camera-mob-x1.png"
                alt="camera"
                width="476px"
                class="header-modal-img"
              />
            </picture>
          </div>
        </div>
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="#about" class="header-menu-link">About us</a>
          </li>
          <li class="header-menu-item">
            <a href="#courses" class="header-menu-link">Our courses</a>
          </li>
          <li class="header-menu-item">
            <a href="#mentors-section" class="header-menu-link">Our mentors</a>
          </li>
          <li class="header-menu-item">
            <a href="#review-section" class="header-menu-link">Reviews</a>
          </li>
          <li class="header-menu-item">
            <a href="#contacts" class="header-menu-link">Contacts</a>
          </li>
        </ul>
      </div>
      <button type="button" id="goTosignup" class="header-btn">Sign up</button>
    </nav>
  </div>
</header>
