<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">
      Discover the magic of <span class="hero-span"> photography </span> in our
      school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div class="hero-review-students">
      <div class="hero-students">
        <div class="hero-students-img">
          <picture>
            <source media="(min-width: 1280ppx)" srcset="../img/hero/" />
            <img src="../img/hero/" alt="" />
          </picture>
          <picture>
            <source media="(min-width: 768px)" srcset="../img/hero/" />
            <img src="../img/hero/" alt="" />
          </picture>
          <picture>
            <source media="(max-width: 767px)" srcset="../img/hero/" />
            <img src="../img/hero/" alt="" />
          </picture>
        </div>
        <p class="hero-review-students-text">Our happy students</p>
      </div>
      <div class="hero-review">
        <a href="" class="hero-review-link" href="">
          <svg class="hero-review-link-icon" width="44" height="44">
            <use href=""></use>
          </svg>
        </a>
        <p class="hero-review-title">Reviews</p>
        <p class="hero-review-numbers">+1500</p>
      </div>
    </div>
    <div class="hero-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ../img/hero/hero-img-desk.png    1x,
            ../img/hero/hero-img-desk-2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/hero/hero-img-tab.png    1x,
            ../img/hero/hero-img-tab-2x.png 2x
          "
        />
        <source media="(max-width: 767px)" srcset="../img/hero/hero-img-mob.png 1x,../img/hero/hero-img-mob-2x.png 2x, " />
        <img
          src="../img/hero/hero-img-mob.png"
          alt="Photographer"
          width="259px"
          height="314px"
        />
      </picture>
    </div>
  </div>
</section>
