<section class="hero container">
  <div class="hero-container">
    <div class="hero-container-for-desk">
      <h1 class="hero-title">
        Discover the magic of <span class="hero-span"> photography </span> in
        our school
      </h1>
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="hero-review-students">
        <div class="hero-students">
          <div class="hero-students-img">
            <picture
              class="hero-student-img-container hero-student-img-container-1"
            >
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/hero/girl1-desk.png    1x,
                  /img/hero/girl1-desk-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/hero/girl1-tab.png    1x,
                  /img/hero/girl1-tab-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/hero/girl1-mob.png    1x,
                  /img/hero/girl1-mob-2x.png 2x
                "
              />
              <img
                src="/img/hero/girl1-desk.png"
                alt="Girl, Student"
                width="44"
                height="44"
                class="student-img"
              />
            </picture>
            <picture
              class="hero-student-img-container hero-student-img-container-2"
            >
              <source
                media="(min-width: 1280px)"
                srcset="/img/hero/boy-desk.png 1x, /img/hero/boy-desk-2x.png 2x"
              />
              <source
                media="(min-width: 768px)"
                srcset="/img/hero/boy-tab.png 1x, /img/hero/boy-tab-2x.png 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="/img/hero/boy-mob.png 1x, /img/hero/boy-mob-2x.png 2x"
              />
              <img
                src="/img/hero/boy-desk.png"
                alt="Boy, Student"
                width="44"
                height="44"
                class="student-img"
              />
            </picture>
            <picture
              class="hero-student-img-container hero-student-img-container-3"
            >
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/hero/girl2-desk.png    1x,
                  /img/hero/girl2-desk-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/hero/girl2-tab.png    1x,
                  /img/hero/girl2-tab-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/hero/girl2-mob.png    1x,
                  /img/hero/girl2-mob-2x.png 2x
                "
              />
              <img
                src="/img/hero/girl2-desk.png"
                alt="Girl, Student"
                width="44"
                height="44"
                class="student-img"
              />
            </picture>
          </div>
          <div class="hero-students-our">
            <a href="#review-section" class="hero-students-our-title">Our happy students</a>
            <a href="#review-section" class="hero-students-our-div">
              <svg
                class="hero-icon-arrow"
                width="18"
                height="8.7"
              >
                <use href="/img/symbol-defs.svg#hero-icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="hero-review">
          <div class="hero-review-link">
            <svg class="hero-icon-star" width="20" height="20">
              <use href="/img/symbol-defs.svg#hero-icon-star"></use>
            </svg>
          </div>
          <div class="hero-review-block">
            <p class="hero-review-title">Reviews</p>
            <p class="hero-review-numbers">+1500</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/hero/hero-img-desk.png    1x,
            /img/hero/hero-img-desk-2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero/hero-img-tab.png    1x,
            /img/hero/hero-img-tab-2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero/hero-img-mob.png    1x,
            /img/hero/hero-img-mob-2x.png 2x
          "
        />
        <img
          src="/img/hero/hero-img-mob.png"
          alt="Photographer"
          width="259"
          height="314"
          class="hero-photographer"
        />
      </picture>
    </div>
  </div>
</section>


