<section id="mentors-section" class="mentors">
  <div class="container">
    <h2 class="mentors-title">
      Our <span class="mentors-title-span">Mentors</span>
    </h2>

    <ul class="mentors-list">
      <li class="mentors-list-card">
        <img
          srcset="
            /img/mentors/ment-girl1.png    1x,
            /img/mentors/ment-girl1-2x.png 2x
          "
          src="/img/mentors/ment-girl1.png"
          class="mentors-image"
          alt="Emilia Smith"
          width="180"
          height="180"
        />
        <div class="mentors-info">
          <h3 class="mentors-image-name">Emilia Smith</h3>
          <p class="mentors-list-text">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-card">
        <img
          srcset="
            /img/mentors/ment-boy1.png    1x,
            /img/mentors/ment-boy1-2x.png 2x
          "
          src="/img/mentors/ment-boy1.png"
          class="mentors-image"
          alt="Alex Lebedev"
          width="180"
          height="180"
        />
        <div class="mentors-info">
          <h3 class="mentors-image-name">Alex Lebedev</h3>
          <p class="mentors-list-text">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-card">
        <img
          srcset="
            /img/mentors/ment-girl2.png    1x,
            /img/mentors/ment-girl2-2x.png 2x
          "
          src="/img/mentors/ment-girl2.png"
          class="mentors-image"
          alt="Mia Dubrovska"
          width="180"
          height="180"
        />
        <div class="mentors-info">
          <h3 class="mentors-image-name">Mia Dubrovska</h3>
          <p class="mentors-list-text">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-card">
        <img
          srcset="
            /img/mentors/ment-boy2.png    1x,
            /img/mentors/ment-boy2-2x.png 2x
          "
          src="/img/mentors/ment-boy2.png"
          class="mentors-image"
          alt="Eliot Kovalev"
          width="180"
          height="180"
        />
        <div class="mentors-info">
          <h3 class="mentors-image-name">Eliot Kovalev</h3>
          <p class="mentors-list-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
