<section id="review-section" class="review-section">

    <div class="container">

        <h2 class="review-title">Reviews</h2>

            <ul class="review-list">

                <li class="review-item">

                    <div class="review-header">

                            <img class="review-img" 
                                srcset="/img/reviews/user_img1@2x.png 2x"   
                                src="/img/reviews/user_img1.png" 
                                alt="Abraham Baker"
                                width="56"
                            />

                        <div class="review-info">
                            <h3 class="review-name">Abraham Baker</h3>
                            <p class="review-status">Student</p>

                        </div>

                    </div>

                        <div class="rating">
                            <ul class="rating-list">
                                <li class="rating-item">
                                        <svg width="16" height="16" class="rating-icon">
                                            <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                        </svg>
                                </li>
                                <li class="rating-item">
                                    <svg width="16" height="16" class="rating-icon">
                                        <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                    </svg>
                                </li>
                                <li class="rating-item">
                                    <svg width="16" height="16" class="rating-icon">
                                        <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                    </svg>
                                </li>
                                <li class="rating-item">
                                    <svg width="16" height="16" class="rating-icon">
                                        <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                    </svg>
                                </li>
                                <li class="rating-item">
                                    <svg width="16" height="16" class="rating-icon-not-rated">
                                        <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                    </svg>
                                </li>
                            </ul>
                        </div>

                        <p class="review-dscr">
                            I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and
                            experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and
                            discover my own style.
                        </p>

                </li>


                <li class="review-item">
                
                    <div class="review-header">
                
                        <img class="review-img" srcset="/img/reviews/user_img2@2x.png 2x" src="/img/reviews/user_img2.png"
                            alt="Amanda Lowery" width="56" />
                
                        <div class="review-info">
                            <h3 class="review-name">Amanda Lowery</h3>
                            <p class="review-status">Student</p>
                
                        </div>
                
                    </div>
                
                    <div class="rating">
                        <ul class="rating-list">
                            <li class="rating-item">
                                <svg width="16" height="16" class="rating-icon">
                                    <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                </svg>
                            </li>
                            <li class="rating-item">
                                <svg width="16" height="16" class="rating-icon">
                                    <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                </svg>
                            </li>
                            <li class="rating-item">
                                <svg width="16" height="16" class="rating-icon">
                                    <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                </svg>
                            </li>
                            <li class="rating-item">
                                <svg width="16" height="16" class="rating-icon">
                                    <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                </svg>
                            </li>
                            <li class="rating-item">
                                <svg width="16" height="16" class="rating-icon-not-rated">
                                    <use href="/img/symbol-defs.svg#icon-reviews-star-mob"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                
                    <p class="review-dscr">
                        The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also
                        inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand
                        different styles of photography.
                    </p>
                
                </li>
        
            </ul>

    </div>

</section>