.advertisement {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.advertisement-run-line {
  overflow: hidden;
}

.advertisement-run {
  display: flex;
}

.advertisement-run-text {
  color: #bea69e;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  min-width: 100%;
  flex-shrink: 0;
  padding: 0 10px;
  animation-name: advertisementLine;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.advertisement-run-text span {
  color: #ffffff;
}

@keyframes advertisementLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .advertisement {
    padding: 24px 0;
  }

  .advertisement-run-text {
    font-size: 40px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement-run-text {
    font-size: 59px;
    line-height: 1.08;
  }
}
