
.footer-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(/img/footer/footer-graphic-mob-1x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}
.footer-contact-logo{
    margin-bottom: 40px;
}
.logo-footer{
    padding-top: 40px;
    padding-bottom: 16px;
 }
.footer-logo-icon{
    fill:  #FFF;
}

.contact-list{
    display: inline-flex;
height: 46px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
}
.contact-item{
    color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
}
.footer-block{
    display: inline-flex;
align-items: flex-start;
gap: 40px;
margin-bottom: 75px;
}
.footer-soc-list{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 14px;
}
.soc-item-link{
    color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.footer-menu-list{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 14px;
}
.menu-link{
    color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,.menu-link:focus{
   color: #BEA69E
}
.footer-send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.footer-form{
    display: flex;
    gap: 8px;
    max-width: 100%;
}
.footer-input{
    width: 267px;
    height: 60px;
border-radius: 12px;
background-color: #FFF;
color: #121212;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.25;
padding-left: 18px;
padding-top: 20px;
padding-bottom: 20px;
outline: transparent;
border: transparent;
}
.footer-btn{
min-width: 60px;
height: 60px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
border-radius: 12px;
background-color: #1D1D1D;
color: #FFF;
text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.2;
cursor: pointer;
border: none;
padding: 18px 17px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
padding-bottom: 20px;
gap: 20px;
}
.footer-list{
    display: flex;
    flex-wrap: wrap;
}
.bottom-list{
    display: flex;
    flex-wrap: wrap;
}
.bottom-text{
    color: #FFF;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
}
.no-wrap{
    white-space: nowrap;
}
@media (min-device-pixel-ratio:2), (min-resolution: 192dpi), (min-resolution: 2dppx){
.footer-container{
    background-image: url(/img/footer/footer-graphic-mob-2x.png);
}
}
@media  screen and (min-width: 375px) {
    .footer-bottom{
        display: flex;
        gap: 72px;
    }
}
@media screen and (min-width: 768px){

.footer-container{
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 25px;
    background-image: url(/img/footer/footer-graphic-tab-1x.png);
}
.footer-contact-logo{
    display: flex;
flex-direction: column;
margin-right: 58px;
}
.footer-logo-icon{
    fill:  #FFF;
}
.contact-list{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.footer-block{
    display: inline-flex;
align-items: flex-start;
gap: 25px;
margin-right: 59px;
}
.footer-send{
    padding-bottom: 0;
    display: flex;
}
.footer-form{
    display: flex;
    gap: 8px;   
}
.footer-input{
    width: 178px;
height: 60px;
}
.logo-footer{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
    padding-top: 0;
}
.footer-bottom{
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0;
}
.footer-list{
    display: flex;
    flex-direction: column;
}
.bottom-list{
    display: flex;
    flex-direction: column;}


@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi),(min-resolution: 2dppx){
    .footer-container{
        background-image: url(/img/footer/footer-graphic-tab-2x.png);
    }
}}


@media screen and (min-width: 1280px){
    
    .footer-container{
        max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 25px;
        background-image: url(/img/footer/footer-graphic-d1280-1x.png);
    }
    .footer-contact-logo{
        display: flex;
    flex-direction: column;
    margin-right: 285px;
    }
    .footer-logo-icon{
        fill:  #FFF;
    }
    .contact-list{
        display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    }
    .footer-block{
        display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    margin-right: 135px;
    }
    .footer-soc-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .footer-menu-list{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;}
    .footer-send{
        display: flex;
        padding-bottom: 0;
    }
    .footer-form{
        display: flex;
        gap: 16px;
    }
    .footer-input{
        width: 216px;
    height: 60px;
    }
    .logo-footer{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 25px;
        padding-top: 0;
    }
    .footer-bottom{
        width: 100%;
        justify-content: space-between;
        padding-bottom: 0;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
    }
    .bottom-list{
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi),(min-resolution: 2dppx){
        .footer-container{
            background-image: url(/img/footer/footer-graphic-d1280-2x.png);
        }
    }}
    @media screen and (min-width: 1440px){
    
        .footer-container{
            max-width: 1440px;
            padding-left: 100px;
            padding-right: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 50px;
            padding-bottom: 25px;
            background-image: url(/img/footer/footer-graphic-d1440-1x.png);
        }
        .footer-contact-logo{
            display: flex;
        flex-direction: column;
        margin-right: 341px;
        }
    
        .footer-logo-icon{
            fill:  #FFF;
        }
        .contact-list{
            display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        }
        .footer-block{
            display: inline-flex;
        align-items: flex-start;
        gap: 100px;
        margin-right: 191px;
        }
        .footer-soc-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
        .footer-menu-list{
            display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;}
    
        .footer-send{
            padding-bottom: 0;
        }
        .footer-form{
            display: flex;
            gap: 16px;
        }
        .footer-input{
            width: 216px;
        height: 60px;
        }
        .logo-footer{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 25px;
            padding-top: 0;
        }
        .footer-bottom{
            width: 100%;
            justify-content: space-between;
            padding-bottom: 0;
        }
        .footer-list{
            display: flex;
            flex-direction: column;
        }
        .bottom-list{
            display: flex;
            flex-direction: column;
        }
        @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi),(min-resolution: 2dppx){
            .footer-container{
                background-image: url(/img/footer/footer-graphic-d1440-2x.png);
            }
        }}