/* ==================== 320px ==================== */
.header {}

.header-container {}

.header-nav {}

.header-menu-container {
    width: 982px;
    height: 60px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: var(--black, #121212);
}

.header-menu-logo {}

.header-logo-icon {}

.header-mob-camera {}

.header-camera-icon {}

.header-mob-menu {}

.header-menu-icon {}

.header-modal-menu {}

.header-modal-btn {}

.header-modal-btn-icon {}

.header-modal-list {}

.header-modal-item {}

.header-modal-link {}

.header-modal-img {}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header-btn {
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
    border-radius: 12px;
    background-color: #FFF;
    padding: 16px 84px;
}