.review-section {
    background-color: black;
}

.review-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    text-align: left;
    margin-bottom: 40px;
}