.signup-block-1 {
  width: 100%;
  padding-bottom: 80px;
}

.signup-header {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 20px;
}

.signup-span {
  color: var(--brown, #bea69e);
}

.signup-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 295px;
  margin-bottom: 40px;
}

.input-name,
.input-email,
.input-message {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  margin-bottom: 8px;
  color: var(--white, #fff);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  padding: 0;
  font-family: DM Sans;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 18px;
}

.input-message {
  height: 112px;
  resize: none;
  margin-bottom: 40px;
  padding-top: 8px;
}

.input-name::placeholder,
.input-email::placeholder,
.input-message::placeholder {
  color: var(--WHITE, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  opacity: 0.7;
}

.input-name:active,
.input-email:active,
.input-message:active {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.signup-button {
  width: 100%;
  border-radius: 12px;
  background: var(--white, #fff);
  height: 48px;
  color: var(--black, #121212);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.privacy-policy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  opacity: 0.5;
}

.privacy-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration-line: underline;
}

.signup-block-2,
.signup-block-3 {
  display: none;
}

/** =====breakpoint 768========== */

@media screen and (min-width: 768px) {
  .signup-block-1 {
    width: 480px;
    padding-bottom: 100px;
  }

  .signup-header {
    font-size: 48px;
    line-height: 1.14;
  }
  .signup-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }

  .input-name,
  .input-email,
  .input-message {
    width: 480px;
    height: 60px;
    margin-bottom: 14px;
    font-size: 16px;
  }
  .input-message {
    height: 119px;
    margin-bottom: 54px;
    padding-top: 20px;
  }
  .input-name::placeholder,
  .input-email::placeholder,
  .input-message::placeholder {
    font-size: 16px;
  }

  .signup-button {
    font-size: 18px;
    line-height: 1.55;
  }

  .privacy-policy {
    font-size: 14px;
    line-height: 1.28;
  }
  .input-name:hover,
  .input-email:hover,
  .input-message:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

/** =====breakpoint 1280========== */

@media screen and (min-width: 1280px) {
  .signup {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 150px;
  }

  .signup-block-1 {
    margin-right: 60px;
    padding-bottom: 0;
  }

  .signup-block-2 {
    display: flex;
    background-color: #bea69e;
    width: 180px;
    height: 288px;
    margin-right: 20px;
    border-radius: 1000px;
    margin-bottom: 36px;
  }
  .signup-img1 {
    height: 142px;
    position: relative;
    top: 76px;
    right: 24px;
  }

  .signup-block-3 {
    display: flex;
    width: 340px;
    height: 540px;
    background-color: #1d1d1d;
    border-radius: 1000px;
    margin-bottom: 36px;
  }
  .signup-img2 {
    width: 240px;
    height: 296px;
    position: relative;
    top: 156px;
    left: 50px;
  }
}

/** =====breakpoint 1440========== */

@media screen and (min-width: 1440px) {
  .signup-block-1 {
    margin-right: 200px;
  }
  .signup-block-2 {
    width: 190px;
  }
  .signup-img1 {
    height: 154px;
  }

  .signup-block-3 {
    width: 350px;
  }

  .signup-img2 {
    height: 313px;
    top: 139px;
    left: 48px;
  }
}
